<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/bia.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-light p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Sabías que en ...</span>
                    <span class="section-heading-lower">Biatlón</span>
                </h2>
                <p class="mb-3">Los atletas portan rifles y se deslizan una distancia para disparar, por lo que también se le conoce como “guerra en la nieve”. Tiene una larga historia que se remonta a la antigüedad y evolucionó a partir de la caza con esquís</p>
                <div class="intro-button mx-auto"><button class="btn btn-primary btn-xl" [routerLink] = "['/disciplinas']">Conoce más</button></div>
            </div>
        </div>
    </div>
</section>