<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/intro.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-light p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Sabías que...</span>
                    <span class="section-heading-lower">Chamonix</span>
                </h2>
                <p class="mb-3"> Fue la primera sede de los primeros Juegos Olímpicos de Invierno. Se incluyeron nueve disciplinas y contaron con la participación de 258 deportistas, once de ellos mujeres, de 16 países.</p>
                <div class="intro-button mx-auto"><bottom class="btn btn-primary btn-xl" [routerLink]="['/sedes']">Conoce más</bottom></div>
            </div>
        </div>
    </div>
</section>

